
aside
{
	width: 100%;
	min-height: 400px;
	margin-top: 70px;
	border-top: solid 3px #48f083;
	margin:0px;
	box-sizing: border-box;
	padding: 15px;
	background-color: white;
}
#active
{
	display: initial;
}
span
{
	display: none;
}