
	body::-webkit-scrollbar
	{
		width: 12px;
	}

	body::-webkit-scrollbar-thumb
	{
		background: black;
		border-radius: 10px;
		border: solid 3px white;
	}
@media screen and (max-width: 600px)
{
	body::-webkit-scrollbar
	{
		width: 0px;
	}


}

